
em.os_instructions{
    background-color: #faf2f2de;
    border-radius: 4px;
    padding: 1px;
    margin: 2px;
}
kbd.macKbd{
    background-color: rgba(170, 169, 170, 0.855);
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    border:solid 2px #dedadade;
    text-transform: uppercase;
}
embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }