
em.os_instructions{
    background-color: #faf2f2de;
    border-radius: 4px;
    padding: 1px;
    margin: 2px;
}
kbd.macKbd{
    background-color: rgba(170, 169, 170, 0.855);
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    border:solid 2px #dedadade;
    text-transform: uppercase;
}
/* img_block{
    margin:10px;
    display:block !important;
    border-radius: 4px;
    width: 400px;

} */